{% load i18n %}

{% for story in stories %}
<tr>
  <td>{{ story.title }}</td>
  <td>
    <a
      href="#"
      role="button"
      class="primary"
      hx-get="{% url 'agile:story:edit' story.id %}"
      hx-swap="outerHTML"
      hx-target="#modal"
    >
      {% trans 'Quick edit' %}
    </a>
    <a
      href="#"
      role="button"
      class="secondary outline"
      hx-delete="{% url 'agile:story:delete' story.id %}"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
      hx-confirm="{% trans 'Are you sure?' %}"
    >
      {% trans 'Delete' %}
    </a>
  </td>
</tr>
{% empty %}
<tr><td colspan="3">{% trans 'No stories' %}</td></tr>
{% endfor %}
