{% load i18n %}

<dialog id="modal" open="true">
  <article>
    <header>
      <a href="#close"
        aria-label="Close"
        class="close"
        onClick="closeModal(event)">
      </a>
      <p>
        <strong>
          {% if epic %}
            {% trans 'Edit epic' %}
          {% else %}
            {% trans 'New epic' %}
          {% endif %}
        </strong>
      </p>
    </header>

    <form id="epic-edit-form">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      {% endfor %}
    </form>
    <footer>
      <div class="grid">
        <button
          role="button"
          class="secondary"
          onClick="closeModal(event)"
        >
          {% trans 'Cancel' %}
        </button>
        <button
          role="button"
          hx-post="{% if epic %}{% url 'agile:epic:edit' epic.id %}{% else %}{% url 'agile:epic:add' %}{% endif %}"
          hx-include="#epic-edit-form"
          hx-swap="outerHTML"
          hx-target="closest dialog"
        >
          {% trans 'Save epic' %}
        </button>
      </div>
    </footer>
  </article>
</dialog>
