{% load i18n %}

{% for epic in epics %}
<tr>
  <td>{{ epic.title }}</td>
  <td>{{ epic.description }}</td>
  <td>{{ epic.themes.all|join:', ' }}</td>
  <td>{{ epic.story_set.all|join:', ' }}</td>
  <td>
    <a
      href="#"
      role="button"
      class="primary"
      hx-get="{% url 'agile:epic:edit' epic.id %}"
      hx-swap="outerHTML"
      hx-target="#modal"
    >
      {% trans 'Quick edit' %}
    </a>
    <a
      href="#"
      role="button"
      class="secondary outline"
      hx-delete="{% url 'agile:epic:delete' epic.id %}"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
      hx-confirm="{% trans 'Are you sure?' %}"
    >
      {% trans 'Delete' %}
    </a>
  </td>
</tr>
{% empty %}
<tr><td colspan="3">{% trans 'No epics' %}</td></tr>
{% endfor %}
