{% extends 'tasktool/base.html' %}

{% load i18n %}

{% block title %}{% translate 'Log in' %}{% endblock %}

{% block content %}

<main class="container">
  <article>
    <header><h1>{% translate 'Log in' %}</h1></header>
    {% if form.errors %}
    <p>{% translate 'Your username and password didn\'t match. Please try again.' %}</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="{% translate "Log in" %}">
      <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">{% translate 'Lost password?' %}</a></p>
  </article>
</main>

{% endblock %}