{% extends 'tasktool/base.html' %}

{% load i18n %}

{% block title %}{% translate 'Reset password' %}{% endblock %}

{% block content %}

<main class="container">
  <article>
    <header>
      <h1>{% translate 'Reset password' %}</h1>
    </header>
    {% if validlink %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="{% translate 'Reset password' %}">
    </form>

    {% else %}

    <p>{% translate 'Password reset failed' %}</p>

    {% endif %}
  </article>
</main>

{% endblock %}
