{% extends 'tasktool/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Themes' %}{% endblock %}

{% block content %}

{% include 'agile/snippets/menu.html' %}

<main class="container">
  <table role="grid">
    <thead>
      <tr>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Description' %}</th>
        <th>{% trans 'Epics' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="themes-table" hx-get="{% url 'agile:theme:get-table' %}"  hx-trigger="newTheme from:body">
      {% include 'agile/theme/table_rows.html' %}
    </tbody>
  </table>
  <button hx-trigger="click" hx-get="{% url 'agile:theme:add' %}" hx-target="#modal" hx-swap="outerHTML">
    {% trans 'Quick add a new theme' %}
  </button>
</main>

{% endblock %}
