:root {
  --spacing: .5rem;
  --form-element-spacing-vertical: .1rem;
  --form-element-spacing-horizontal: .3rem;
  --font-family: 'Titillium Web', sans-serif;
}

/* Deep-orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #f4511e;
  --primary-hover: #e64a19;
  --primary-focus: rgba(244, 81, 30, 0.125);
  --primary-inverse: #FFF;
}

/* Deep-orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #f4511e;
    --primary-hover: #ff5722;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #f4511e;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #FFF;
}

/* Deep-orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}


/* Navigations */

.active {
  background-color: var(--primary-hover);
  color: var(--primary-inverse);
}


article header li {
  padding-top: 0;
  padding-bottom: 0;
}

article header li h2 {
  margin-bottom: 0;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}


/* Tags */

.tag {
  border-radius: .5rem;
  display: inline-block;
  margin: .1rem .2rem .1rem 0;
  padding: .2rem .4rem;
  width: fit-content;
}


/* planner */

#planner-dashboard-container div {
  border-radius: calc(var(--spacing) / 2);
}

.planner-dashboard-theme {
  margin: var(--spacing) 0;
  border: solid 2px #eee;
  padding: 0;
}

.planner-dashboard-theme > summary {
  font-size: 1.2em;
  font-weight: bold;
}

.planner-dashboard-theme > div {
  padding: var(--spacing);
}

.planner-dashboard-theme > summary {
  background-color: #eee;
  padding: var(--spacing);
}

.planner-dashboard-epics,
.planner-dashboard-stories {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: none;
  align-items: flex-start;
}

.planner-dashboard-stories > * {
  padding: .2em .5em;
  background-color: rgb(36, 241, 207);
}

.planner-dashboard-stories > a {
  background-color: rgb(189, 253, 242);
  border: none;
  color: rgb(46, 61, 48);
}

.planner-dashboard-epics > * {
  background-color: rgb(245, 255, 245);
  border: solid 2px rgb(189, 236, 197);
}

.planner-dashboard-epics > a {
  background-color: rgb(223, 255, 229);
  border: none;
  color: rgb(46, 61, 48);
}

.planner-dashboard-epics > div > * {
  padding: 0;
}

.planner-dashboard-epics > div > *.no-epics {
  background-color: #eee;
  border: none;
  min-width: none;
}

.planner-dashboard-epics > div > * > * {
  padding: .2em .5em;
}

.planner-dashboard-epics > div > * > *:last-child {
  margin-bottom: .2rem;
}

.planner-dashboard-epics > div > * > *:first-child {
  margin-bottom: 0;
}

.planner-dashboard-epics details {
  margin-bottom: 0;
  border: none;
  padding: 0;
}
