{% extends 'tasktool/base.html' %}

{% load i18n %}

{% block title %}{% trans 'Tags' %}{% endblock %}

{% block content %}

<main class="container">
  <article>
    <header>
      <nav>
        <ul>
          <li><h2>{% trans 'Tags' %}</h2></li>
        </ul>
      </nav>
    </header>
    <table role="grid">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tags-table" hx-get="{% url 'tag:get-table' %}"  hx-trigger="newTag from:body">
        {% include 'tag/table_rows.html' %}
      </tbody>
    </table>
    <div id="tag-add">
      <button hx-trigger="click" hx-get="{% url 'tag:add' %}" hx-target="#modal" hx-swap="outerHTML">
        {% trans 'Quick add a new tag' %}
      </button>
    </div>
  </article>
</main>

{% endblock %}
