{% load i18n tasktool_extras %}

<header class="container">
  <nav>
    <ul>
      <li><a class="{% active request 'agile' True %}" href="{% url 'agile:dashboard' %}">{% trans 'Dashboard' %}</a></li>
      <li><a class="{% active request 'agile/theme' %}" href="{% url 'agile:theme:list' %}">{% trans 'Themes' %}</a></li>
      <li><a class="{% active request 'agile/epic' %}" href="{% url 'agile:epic:list' %}">{% trans 'Epics' %}</a></li>
      <li><a class="{% active request 'agile/story' %}" href="{% url 'agile:story:list' %}">{% trans 'Stories' %}</a></li>
    </ul>
  </nav>
</header>
