{% load i18n %}

<dialog id="modal" open="true">
  <article>
    <header>
      <a href="#close"
        aria-label="Close"
        class="close"
        onClick="closeModal(event)">
      </a>
      <p>
        <strong>
          {% if theme %}
            {% trans 'Edit theme' %}
          {% else %}
            {% trans 'New theme' %}
          {% endif %}
        </strong>
      </p>
    </header>

    <form id="theme-edit-form">
      {% csrf_token %}
      {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
      {% endfor %}
    </form>
    <footer>
      <div class="grid">
        <div>
          <button
            class="secondary"
            onClick="closeModal(event)"
          >
            {% trans 'Cancel' %}
          </button>
        </div>
        <div>
          <button
            hx-post="{% if theme %}{% url 'planner:theme:edit' theme.id %}{% else %}{% url 'planner:theme:add' %}{% endif %}"
            hx-include="#theme-edit-form"
            hx-swap="outerHTML"
            hx-target="closest dialog"
          >
            {% trans 'Save theme' %}
          </button>
        </div>
      </div>
    </footer>
  </article>
</dialog>
